.ins-card{
  background-color: whitesmoke;
margin: 13% auto !important;

max-width: 500px !important;
padding: 60px !important;
font-weight: 400;
border: 2;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}